html,
body,
:root,
* {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* .tablet div {
  width: 3px;
  height: 400px;
  background-color: white  ;
  background-image: url("duck.jpg");
  border-radius: 2%;
} */

.tablet iframe {
  width: 1200px;
  height: 1600px;
  border-radius: 2%;
}